@import "./mixin";
/* General Scrollbar Styling */
::-webkit-scrollbar {
  // z-index: 99999;
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrollbar */
  @include respond-to(small) {
    width: 8px;
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Background color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-variant); /* Color of the draggable part */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(
    --on-background-focus
  ); /* Color when hovering over the scrollbar thumb */
}

::-webkit-scrollbar-corner {
  background: var(--background-color); /* Background color of the corner */
}

/* For light theme */
body.light ::-webkit-scrollbar-track {
  background: var(--background-color); /* Match the background color */
}

body.light ::-webkit-scrollbar-thumb {
  background: var(--background-color-variant); /* Match the primary color */
}

body.light ::-webkit-scrollbar-thumb:hover {
  background: var(--on-background-focus); /* Match the focus color */
}

/* For dark theme */
body.dark ::-webkit-scrollbar-track {
  background: var(--background-color); /* Match the background color */
}

body.dark ::-webkit-scrollbar-thumb {
  background: var(--background-color-variant); /* Match the primary color */
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--on-background-focus); /* Match the focus color */
}



// ::-webkit-scrollbar {
//   display: none; /* Hide scrollbars in WebKit browsers */
// }