$font-family: "Fira Code", monospace;

$gray: #abb2bf;

// Dark Theme Variables
$background-color-dark: #23202e;
$background-color-variant: #000000;
$on-background-dark: #abb2bf;
$on-background-focus-dark: #ffffff;
$primary-color-dark: #fc6e0f;

// Light Theme Variables
$background-color-light: #ffffff;
$background-color-variant: #ffffff;
$on-background-light: #333333;
$on-background-focus-light: #111111;
$primary-color-light: #007bff;

// Default to Dark Theme
$background-color: $background-color-dark;
$on-background: $on-background-dark;
$on-background-focus: $on-background-focus-dark;
$primary-color: $primary-color-dark;

