@import "_variables";
@import './components/scrollbars.scss';
@import "./components/home-screen.scss";
@import "./components/header.scss";
@import "./components/landing.scss";
@import "./components/quote.scss";
@import "./randomobjani/randomobj.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/mediaheader.scss";
@import "./typography";
@import "./components/skills.scss";
@import "./components/bottom-nav.scss";
@import "./components/screens.scss";
@import './components/blogpost-screen.scss';
@import './components/case-studies.scss';
@import "./mixin";

:root {
  --background-color: #2c313a;
  --background-color-variant: #000000;
  --on-background: #abb2bf;
  --on-background-focus: #ffffff;
  --primary-color: #df610d;
}

body.dark {
  --background-color: #2c313a;
  --background-color-variant: #2a2631;
  --on-background: #abb2bf;
  --on-background-focus: #ffffff;
  --primary-color: #df610d;
}

body.light {
  --background-color: #ebe2ce;
  --background-color-variant: #ffffff;
  --on-background: #333333;
  --on-background-focus: #111111;
  --primary-color: #157eee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: hidden;

  @include respond-to(small) {
    font-size: 32.5%;
    // overflow-y: auto;
  overflow-y: hidden;

  }
  @include respond-to(medium) {
    font-size: 40.5%;
    overflow-y: hidden;

    // overflow-y: auto;
  }
  @include respond-to(large) {
    font-size: 50.5%;
    // overflow-y: auto;
  overflow-y: hidden;

  }
}

body {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 300;
  overflow-y: hidden;

  font-style: normal;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--on-background);
  transition: background-color 0.1s ease, color 0.1s ease;
}


.hashTag {
  color: var(--primary-color);
}

.button--primary {
  color: var(--on-background-focus);
  font-size: 2rem;
  border: 2px solid var(--primary-color);
  padding: 0.9rem;
  &:hover {
    background-color: rgba($color: var(--primary-color), $alpha: 0.5);
    color: var(--on-background);
    cursor: pointer;
  }
  &:active {
    background-color: rgba($color: var(--primary-color), $alpha: 1);
    color: var(--on-background-focus);
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
  padding-right: 1rem;
}
h2::before {
  content: "#";
  color: var(--primary-color);
}

h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  // transform: translate(100%, -50%);
  // right: -16px;
  // top: 50%;
  transform: translateX(100%); /* Move it just to the right of the text */
  right: 0; /* Align to the right edge of the h2 element */
  top: 50%; /* Center vertically with respect to the text */
}

// .media__icon:hover {
//   // filter: brightness(200%);
//   fill: red;
//   stroke: #007bff;
// }
// .media__icon:active {
//   filter: brightness(40%);
// }

a,
a:focus {
  color: var(--on-background);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
    background-color: var(--background-color-variant);
    // padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease-out;
    // transition: width 0.3s ease, height 0.3s ease;
  }
}

.highlight {
  background-color: var(--background-color-variant);
  // padding: 5px;
  border-radius: 2px;
  transition: background-color 0.1s ease, color 0.1s ease;
}
