@use "./components/header.scss";
@use "./components/landing.scss";
@use "./components/quote.scss";
@use "./randomobjani/randomobj.scss";
@use "./components/skills.scss";
@use "./components/contact.scss";
@use "./components/footer.scss";
@use "./components/mediaheader.scss";
@import "_variables";
@import "./mixin";
@import "./typography";
@import './components/bottom-nav.scss';



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: auto;

  @include respond-to(small) {
    font-size: 32.5%;
    overflow-y: auto;
  }
  @include respond-to(medium) {
    font-size: 40.5%;
    overflow-y: auto;
  }
  @include respond-to(large) {
    font-size: 50.5%;
    overflow-y: auto;
  }
}

body{
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  background-color: $background-color;
  color: $on-background;
}

// body {
//   font-family: $font-family;
//   background-color: $background-color;
//   color: $on-background;
// }

// Dark Theme
// body.dark-theme {
//   font-family: $font-family;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
//   line-height: 1.5;
//   $background-color: $background-color-dark;
//   $on-background: $on-background-dark;
//   $on-background-focus: $on-background-focus-dark;
//   $primary-color: $primary-color-dark;
// }

// // Light Theme
// body.light-theme {
//   font-family: $font-family;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
//   line-height: 1.5;
//   $background-color: $background-color-light;
//   $on-background: $on-background-light;
//   $on-background-focus: $on-background-focus-light;
//   $primary-color: $primary-color-light;
// }











a,
a:focus {
  color: $on-background;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
.body-main--screen {
  position: relative;
  display: flex;
  flex-direction: column;
  // overflow-x: auto;
  width: 70vw;
  max-width: 1024px;
  margin: 0 auto;
  @include respond-to(small) {
    width: 95vw;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    // margin: 0 16px;
    // padding: 16px;
  }
}

.hashTag {
  color: $primary-color;
}

.button--primary {
  color: $on-background-focus;
  font-size: 2rem;
  border: 2px solid $primary-color;
  padding: 0.9rem;
  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    color: #abb2bf;
    cursor: pointer;
  }
  &:active {
    background-color: rgba($color: $primary-color, $alpha: 1);
    color: $on-background-focus;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  position: relative;
  float: none;
  clear: both;
  display: inline-block;
}
h2::before {
  content: "#";
  color: $primary-color;
}

h2::after {
  content: "";
  display: block;
  width: 10vw;
  height: 1px;
  background-color: $primary-color;
  position: absolute;
  transform: translate(100%, -50%);
  right: -16px;
  top: 50%;
}

.media__icon:hover {
  filter: brightness(200%);
}
.media__icon:active {
  filter: brightness(40%);
}
