@import "../variables";
@import "../mixin";
.btm-nav__container {
  display: none;

  @include respond-to(small) {
    background-color: var(--background-color);
    position:fixed ;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 1000;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    display: flex;
    box-sizing: border-box;
    color: var(--primary-color);
    border-top: 0.5px var(--on-background) dotted;
    justify-content: space-between;
    align-items: center;

  }
}
