@import './../variables';
@import './../mixin';

.contact {
  margin: 3rem 0;
  &__title {
    margin: 2rem 0;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-paragraph {
      font-size: 2rem;
      width: 60%;
    }
    &-form {
      width: 25%;
      min-width: 35%;
      margin: auto;
      padding: 2rem;
      border: 0.1rem dotted var(--on-background);
      &-title {
        font-size: 2rem;
        font-weight: bold;
      }
      &-item {
        margin: 2rem 0;
        width: 100%;
        font-size: rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        svg{
          fill: var(--on-background);
        }
        &:hover {
          color: white;
          cursor: pointer;
          svg{
            fill: var(--on-background-focus);
          }
        }
        p {
          font-size: 2rem;
          margin-left: 1rem;
        }
      }
    }
    
  }
  @include respond-to(medium) {
    &__content {
      flex-direction: column;

      &-paragraph{
        width: auto;
      }
      &-form {
        margin-top: 4rem;
        align-self: start;
        width:auto ;
        min-width: 70%;

      }
    }
  }
}
