@import "../variables";
@import "../mixin";
.header-container {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 1000;
  font-size: 1.6rem;
  padding: 1.5rem;
  display: flex;
  margin: 0 auto;
  width: 100%; /* Use full width */
  max-width: 1028px;
  transition: background-color 0.1s ease, color 0.1s ease;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center; /* Align items vertically centered */
  // border-bottom: 1px dotted var(--on-background);

  width: 71vw;
  max-width: 1024px;
  @include respond-to(small) {
    width: 95vw;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
  }

  // @include respond-to(small) {
  //   width: 100%;
  //   max-width: 1024px;
  //   margin: 0 auto;
  //   overflow: hidden;
  //   padding: 1.5rem 1rem;
  // }

  &__logo {
    // background-color: red;
    width: 3.5rem;
    height: 3.5rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; // Needed for positioning of ::before

    // Pseudo-element before
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: var(--background-color-variant);
      transition: width 0.3s ease, height 0.3s ease;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      z-index: -1; // Ensure it's behind the SVG
    }

    // On hover of the link
    &:hover::before {
      width: 100%; // Adjust as needed
      height: 100%; // Adjust as needed
    }
  }

  &__links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include respond-to(small) {
      display: none;
    }
  }
}

.header__links-item {
  a {
    // color: var(--primary-color);
  }
}
