@import "../mixin";

.body-main--screen {
    transition: background-color 0.1s ease, color 0.1s ease;
    background-color: var(--background-color);
    // background-color: green;
    // position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 1024px;
    margin: 0 auto;
    @include respond-to(small) {
      width: 95vw;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  