@use '../variables';
.landing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 5rem;
  }
  
  .landing-graphic {
    display: flex;

    width: 35%;
    &__img {
      max-width: 100%;
      min-width: 20rem;
      height: auto;
      margin: 0 auto;
      margin-top: 4rem;
    filter: grayscale(100%) sepia(90%);

      align-self: flex-end;
      aspect-ratio: 1;
      border-bottom: 1px solid variables.$primary-color;
    }
  }
  
  .landing-content {
    margin-top: 4rem;
    min-width: 40rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    &__description {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }