// @import './../../variables';
@import './../../mixin';
.footer {
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  border-top: dashed 1px var(--on-background);
  margin: 4rem 0;
  margin-bottom: 8rem;
  padding: 2rem 0;
  &-adress {
  }
  @include respond-to(medium) {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 0;
    margin-bottom: 8rem;
    &-adress {
      padding: 0;
      // background-color: red;
    }
    &-copyright {
      // background-color: green;

      padding: 0;
      margin: 0;
      line-height: 0.5;
      margin-bottom: 5rem;
    }
  }
  @include respond-to(small) {
    padding-bottom: 4rem;
    // background-color: red;
    // position: absolute;
  }
}
